<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> <!--> Font containing icons.<-->

<img class="icon-pracownicy" src="./assets/icon - pracownicy.svg" alt="icon-pracownicy">  

<h1>
      {{ title }}
</h1>

<div class="container">
  <div class="white-background table-responsive shadow p-0 mb-0 bg-white rounded">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>           
          <th (click)="sort('id')">iD 
            <span class="fa fa-sort"></span>
          </th>
          <th  (click)="sort('firstName')">First Name
            <span class="fa fa-sort"></span>
          </th>
          <th (click)="sort('lastName')">Last Name
            <span class="fa fa-sort"></span>
          </th>
          <th (click)="sort('dateOfBirth')">Birth date
            <span class="fa fa-sort"></span>
          </th>
          <th (click)="sort('company')">Company
            <span class="fa fa-sort"></span>
          </th>
          <th (click)="sort('note')">Note
            <span class="fa fa-sort"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees| orderBy: key : reverse| paginate: { itemsPerPage: 5, currentPage: page }">
          <td>{{employee.id}} </td>
            <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
                <td>{{employee.dateOfBirth}}</td>
                  <td>{{employee.company}}</td>
                    <td>{{employee.note}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 <div class = "pagination-controls"> <pagination-controls (pageChange)="page = $event"></pagination-controls></div>
</div>
<img class="chilid-logo" src="./assets/chilid-logo.svg" alt="chilid-logo">